@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    outline: none;
}

html{
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    color: #333;
    background: #f7f7f7;
    font-size: 1em;
    font-family: "Segoe UI", sens-serif;
    line-height: 135%;
    
}

a {
    color: #f48b8b;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}

a:hover {
    color: #8b9ff5;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}

a:active{color: #8ce4a6}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;/* для интернет экслорера*/
}

hr {
    display: block;
    border: 0px;
    height: 1px;
    border-top: 2px solid #ccc;
    padding: 0;
}

.left{float: left}
.right {float: right}
.clear{clear: both}

/* marking of text by color */
::selection{background: #f58b8b; color: #fff}
::-moz-selection{background: #f58b8b; color: #fff}

header, footer {
    width: 98%;
    background-color: #fff;
    float: left;
    
}

header {
    border-bottom: 2px solid silver;
    padding: 1%
}

#logo {
    font-size: 2em;
    font-family: Comic Sans MS, sans-serif;
    color: aqua
}

.contact {
    font-size: 1.5em;
    font-family: Comic Sans MS, sans-serif;
    margin-left: 20px;
}

input[type=text].field {
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;
    margin-left: 20px;
}

input[type=text].field:focus{
    border-color: #f58b8b;
}

#menu{
    color: #5da883;
    font-family: Comic Sans MS, sans-serif;
    font-size: 1.7em;
}

#menu hr{
    width: 500px;
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

#menuHrefs a{
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
    color: #636472
}
#menuHrefs a:hover{
    background-color: #e6e6e6;
    font-size: 1.1em
}
/*Main styles*/
#wrapper{
    float: left;
    width: 100%;
    margin-top: 20px;
}

#wrapper #articles{
    float: left;
    width: 80%;
    margin-left: 10%;
}

#wrapper #articles article{
    float: left;
    width: 31.3%;
    border: 1px solid silver;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fafafa;
    margin-right: 2%;
    min-height: 400px;
}

/* footer styles*/

footer {
    padding: 1%;
    border-top: 10px;
    border-bottom: 2px solid silver;
    margin-top: 10px;
    padding-bottom: 2%;
}

footer img {
    width:10%;
    float: left;
    margin-right: 5px;
}

#page-wrap:after {
    content:"";
    display: block;
}
footer, #page-wrap:after {height: 10px}

#page-wrap{
    min-height: 93%;
    margin-bottom: -10px;
}